@using RazorEngine
@using RazorEngine.Templating

<!DOCTYPE html>
<html>
@Include("Head")
<body class="attributes-view">
    <div class="app">
        <div class="layout">
            @Include("Navbar")
            @Include("Sidenav")
            <div class="page-container">
                <div class="main-content">
                    <div class="avt-container row">
                        <div class="test-list">
                            <div class="test-list-tools">
                                <ul class="tools pull-left">
                                    <li>
                                        <a href="">
                                            <span>Authors</span>
                                        </a>
                                    </li> 
                                </ul>
								<ul class="tools text-right">
                                    <li>
                                        <a href="#">
                                            <span class="badge badge-primary">@Model.ExceptionInfoContext.Context.Count</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="avt-wrapper scrollable">
                                <ul id="test-list-item" class="test-list-item">
                                	@foreach (var ex in Model.ExceptionInfoContext.Context)
									{
										@Include("AttributesView", ex)
                                    }
                                </ul>    
                            </div>
                        </div>
                        <div class="test-content scrollable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	@Include("Scripts")
</body>
</html>