@using AventStack.ExtentReports
@using AventStack.ExtentReports.ViewDefs
@using RazorEngine
@using RazorEngine.Templating

<!DOCTYPE html>
<html>
@Include("Head")
<script src="https://cdn.rawgit.com/extent-framework/extent-github-cdn/7cc78ce/spark/js/jsontree.js"></script>

@{
	var isbdd = false;
	var cls = "";
	if (Model.TestList.Count > 0 && Model.TestList[0].IsBehaviorDrivenType)
	{
		isbdd = true;
		cls = "bdd-report";
	}
}

<body class="test-view @cls @Model.MasterConfig.GetValue("theme")">
    <div class="app header-dark side-nav-folded">
        <div class="layout">
            @Include("Navbar")
            @Include("Sidenav")
            <div class="page-container">
                <div class="main-content">
                    <div class="test-wrapper row">
                        <div class="test-list">
                            <div class="test-list-tools">
                                <ul class="tools pull-left">
                                    <li>
                                        <a href="">
                                            <span class="font-size-14">Tests</span>
                                        </a>
                                    </li> 
                                </ul>
                                <ul class="tools text-right">
									<li class="user-profile dropdown dropdown-animated scale-left">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-exclamation-circle"></i>
										</a>
										<ul id="status-toggle" class="dropdown-menu dropdown-md p-v-0">
											@if (Model.ContainsStatus(Status.Pass)) {<a status="pass" class="dropdown-item" href="#"><span>Pass</span><span class="status success pull-right"></span></a>}
											@if (Model.ContainsStatus(Status.Fail)) {<a status="fail" class="dropdown-item" href="#"><span>Fail</span><span class="status danger pull-right"></span></a>}
											@if (Model.ContainsStatus(Status.Fatal)) {<a status="fatal" class="dropdown-item" href="#"><span>Fatal</span><span class="status danger pull-right"></span></a>}
											@if (Model.ContainsStatus(Status.Error)) {<a status="error" class="dropdown-item" href="#"><span>Error</span><span class="status warning pull-right"></span></a>}
											@if (Model.ContainsStatus(Status.Warning)) {<a status="warning" class="dropdown-item" href="#"><span>Warning</span><span class="status warning pull-right"></span></a>}
											@if (Model.ContainsStatus(Status.Skip)) {<a status="skip" class="dropdown-item" href="#"><span>Skip</span><span class="status warning pull-right"></span></a>}
											<div class="dropdown-divider"></div>
											<a status="clear" class="dropdown-item" href="#"><span>Clear</span><span class="pull-right"><i class="fa fa-close"></i></span></a>
										</ul>
									</li>
									@if (Model.AuthorContext.Context.Count > 0)
									{
                                    <li class="user-profile dropdown dropdown-animated scale-left">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-user"></i>
										</a>
										<ul id="author-toggle" class="dropdown-menu dropdown-md p-v-0">
											@foreach (var author in Model.AuthorContext.Context) 
											{
												<a class="dropdown-item" href="#">@author.Name</a>
											}
										</ul>
                                    </li>
									}
									@if (Model.CategoryContext.Context.Count > 0)
									{
									<li class="user-profile dropdown dropdown-animated scale-left">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-tag"></i>
										</a>
										<ul id="tag-toggle" class="dropdown-menu dropdown-md p-v-0">
											@foreach (var category in Model.CategoryContext.Context) 
											{
												<a class="dropdown-item" href="#">@category.Name</a>
											}
										</ul>
                                    </li>
									}
									@if (Model.DeviceContext.Context.Count > 0)
									{
									<li class="user-profile dropdown dropdown-animated scale-left">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-tablet"></i>
										</a>
										<ul id="device-toggle" class="dropdown-menu dropdown-md p-v-0">
                                            @foreach (var device in Model.DeviceContext.Context) 
											{
												<a class="dropdown-item" href="#">@device.Name</a>
											}
                                        </ul>
                                    </li>
									}
                                </ul>
                            </div>
                            <div class="test-list-wrapper scrollable">
                                <ul class="test-list-item">
									@foreach (var test in Model.TestList)
									{
										string authors = "", devices = "", tags = "";
										foreach (var author in test.AuthorContext.All())
										{
											authors += author.Name + " ";
										}
										foreach (var device in test.DeviceContext.All())
										{
											devices += device.Name + " ";
										}
										foreach (var tag in test.CategoryContext.All())
										{
											tags += tag.Name + " ";
										}
										<li class="test-item" status="@test.Status.ToString().ToLower()" author="@authors.Trim()" device="@devices.Trim()" tag="@tags.Trim()"> 
											<div class="status-avatar @test.Status.ToString().ToLower()-bg">
												<i class="fa fa-@TWBSIcon.GetIcon(test.Status) text-white"></i>
											</div>
											<div class="open-test">
												<div class="test-detail"> 
													<p class="name">@test.Name</p> 
													<p class="duration text-sm">@test.RunDuration.ToString("''h'h:'m'm:'s's+'fff'ms'")</p> 
													<span class="datetime">@test.StartTime.ToString("HH:mm:ss tt")</span>
												</div>
											</div>
											<div class="test-contents d-none">
												<div class="detail-head">
													<div class="p-v-10 d-inline-block">	
														<div class="info">
															<h5 class="test-status text-@test.Status.ToString().ToLower()">@test.Name</h5>
															<span class='badge badge-success'>@test.StartTime</span>
															<span class='badge badge-danger'>@test.EndTime</span>
															<span class='badge badge-default'>@test.RunDuration.ToString("''h'h:'m'm:'s's+'fff'ms'")</span>
														</div>
														@if (test.HasAttributes)
														{
														<div class="m-t-15">
		                                        			@Include("Attributes", test)
														</div>
														}
														@if (!string.IsNullOrEmpty(test.Description))
														{
														<div class="m-t-10 m-l-5">
															@test.Description
														</div>
														}
													</div>
												</div>
											@if (!isbdd)
											{
												@Include("SparkStandard", test)
											}
											else 
											{
												@Include("SparkBDD", test)
											}
											</div>
										</li>
									}
                                </ul>    
                            </div>
                        </div>
                        <div class="test-content scrollable">
                            <div class="test-content-tools">
                                <ul>
                                    <li>
                                        <a class="back-to-test" href="javascript:void(0)">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="test-content-detail">
                                <div class="detail-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	@Include("Scripts")
</body>

</html>