<li class="test">
  <div>
    <div class="test-detail">
      <p class="name">@Model.Name</p>
      <p class="duration">
        @Model.Count tests
      </p>
      <span class="datetime">
        @if (Model.Passed > 0) { <span class='badge badge-success'>@Model.Passed</span> }
        @if (Model.Failed > 0) { <span class='badge badge-danger'>@Model.Failed</span> }
        @if (Model.Skipped > 0) { <span class='badge badge-warning'>@Model.Skipped</span> }
        @if (Model.Others > 0) { <span class='badge badge-info'>@Model.Others</span> }
      </span>
    </div>
  </div>
  <div class="test-content-detail">
    <div class="detail-head">
      <div class="p-v-10 d-inline-block">
        <div class="info">
          <h4>@Model.Name</h4>
          @if (Model.Passed > 0) { <span class='badge badge-success'>@Model.Passed passed</span> }
          @if (Model.Failed > 0) { <span class='badge badge-danger'>@Model.Failed failed</span> }
          @if (Model.Skipped > 0) { <span class='badge badge-warning'>@Model.Skipped skipped</span> }
          @if (Model.Others > 0) { <span class='badge badge-info'>@Model.Others others</span> }
        </div>
      </div>
    </div>
    <div class="detail-body m-t-20">
      <table class='table table-sm'>
        <thead>
          <tr>
            <th class="status-col">Status</th>
            <th class="timestamp-col">Timestamp</th>
            <th>TestName</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var test in Model.TestCollection)
          {
          <tr>
            <td>
              <div class='status-avatar @test.Status.ToString().ToLower()-bg'>@test.Status</div>
            </td>
            <td>@test.StartTime.ToString("HH:mm:ss")</td>
            <td class='linked' test-id='@test.TestId'>
              @test.Name
              @if (test.Parent != null)
              {
              <div class="">
                <span class="badge badge-default">@test.Parent.Name</span>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</li>