@using AventStack.ExtentReports

@{
	var bdd = Model.TestList[0].IsBehaviorDrivenType;
	
	var boxSize = "s12 m12 l12";
	if (Model.ReportStatusStats.ChildCount > 0) {
		boxSize = "s12 m6 l6";
	}
	if (bdd || Model.ReportStatusStats.GrandChildCount > 0) {
		boxSize = "s12 m4 l4";
	}
	
	var chartWidth="90";
	var chartHeight="80";
	var chartBoxHeight="94px";

	var pluralES = Model.TestList.Count > 1 ? "es" : "";
	var pluralS = Model.TestList.Count > 1 ? "s" : "";

	var parentViewChartsHeading="Classes";
	var childViewChartsHeading="Tests";  
	var grandChildViewChartsHeading="Steps";
	var parentLabel="class" + pluralES;
	var childLabel = "test" + pluralS;
	var grandchildLabel="step" + pluralS;

	if (bdd) {
		parentViewChartsHeading="Features";
		childViewChartsHeading="Scenarios";
		grandChildViewChartsHeading="Steps";
		parentLabel="feature" + pluralS;
		childLabel="scenario" + pluralS;
	} else {
		if (Model.AnalysisStrategy == AnalysisStrategy.Test) {
			parentViewChartsHeading="Tests";
			childViewChartsHeading="Steps";
			grandChildViewChartsHeading="";
			parentLabel="test" + pluralS;
			childLabel=grandchildLabel;
		}
	}
}

<div id='test-view-charts' class='subview-full'>
    <div id='charts-row' class='row nm-v nm-h'>
        <div class='col @boxSize np-h'>
            <div class='card-panel nm-v'>
                <div class='left panel-name'>@parentViewChartsHeading</div>
                <div class='chart-box' style="max-height:@chartBoxHeight;">
                    <canvas id='parent-analysis' width='@chartWidth' height='@chartHeight'></canvas>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ParentPercentagePass%'><span class='strong'>@Model.ReportStatusStats.ParentCountPass</span> @parentLabel passed</span>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ParentPercentageFail%'><span class='strong'>@(Model.ReportStatusStats.ParentCountFail+Model.ReportStatusStats.ParentCountFatal)</span> failed,</span>
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ParentPercentageSkip%'><span class='strong'>@(Model.ReportStatusStats.ParentCountSkip)</span> skipped, </span>
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ParentPercentageOthers%'><span class='strong'>@(Model.ReportStatusStats.ParentCountError+Model.ReportStatusStats.ParentCountWarning)</span> others</span>
                </div>
            </div>
        </div>
        @if (Model.ReportStatusStats.ChildCount > 0)
		{
        <div class='col @boxSize np-h'>
            <div class='card-panel nm-v'>
                <div class='left panel-name'>@childViewChartsHeading</div>
                <div class='chart-box' style="max-height:@chartBoxHeight;">
                    <canvas id='child-analysis' width='@chartWidth' height='@chartHeight'></canvas>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ChildPercentagePass%'><span class='strong'>@Model.ReportStatusStats.ChildCountPass</span> @childLabel passed</span>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ChildPercentageFail%'><span class='strong'>@(Model.ReportStatusStats.ChildCountFail+Model.ReportStatusStats.ChildCountFatal)</span> failed,</span>
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ChildPercentageSkip%'><span class='strong'>@(Model.ReportStatusStats.ChildCountSkip)</span> skipped,</span>
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.ChildPercentageOthers%'><span class='strong'>@(Model.ReportStatusStats.ChildCountError+Model.ReportStatusStats.ChildCountWarning)</span> others</span>                
				</div>
            </div>
        </div>
        }
		@if (Model.ReportStatusStats.GrandChildCount > 0)
		{
        <div class='col @boxSize np-h'>
            <div class='card-panel nm-v'>
                <div class='left panel-name'>@grandChildViewChartsHeading</div>
                <div class='chart-box' style="max-height:@chartBoxHeight;">
                    <canvas id='grandchild-analysis' width='@chartWidth' height='@chartHeight'></canvas>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.GrandChildPercentagePass%'><span class='strong'>@Model.ReportStatusStats.GrandChildCountPass</span> @grandchildLabel passed</span>
                </div>
                <div class='block text-small'>
                    <span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.GrandChildPercentageFail%'><span class='strong'>@(Model.ReportStatusStats.GrandChildCountFail+Model.ReportStatusStats.GrandChildCountFatal)</span> failed,</span>
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.GrandChildPercentageSkip%'><span class='strong'>@(Model.ReportStatusStats.GrandChildCountSkip)</span> skipped,</span> 
					<span class='tooltipped' data-position='top' data-tooltip='@Model.ReportStatusStats.GrandChildPercentageOthers%'><span class='strong'>@(Model.ReportStatusStats.GrandChildCountError+Model.ReportStatusStats.GrandChildCountWarning)</span> others</span>
                </div>
            </div>
        </div>
        }
    </div>
    @if (Model.MasterConfig.GetValue("enableTimeline") == "true")
	{
    <div id="timeline-chart" class="row nm-v nm-h">
        <div class="col s12 m12 l12 np-h">
            <div class="card-panel">
                <div class='left panel-name'>Timeline (seconds)</div>
                <div class="chart-box" style="width:98%;max-height:145px;">
                    <canvas id="timeline" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
    }
</div>