@using AventStack.ExtentReports
@using AventStack.ExtentReports.Model
@using System
@using RazorEngine
@using RazorEngine.Templating

@foreach (var m in Model.Media)
{
  @Include("SparkMedia", m)
}

@if (Model.HasAnyLog)
{
<div class="detail-body mt-4">
  @if (Model.HasGeneratedLog)
  {
   var genLog = new List<Log>(Model.GeneratedLog);
   @foreach (var l in genLog)
   {
   <div>
  	 <div class="float-left"><span class="badge log @l.Status.ToString().ToLower()-bg">@l.Status</span></div>
   	 <div class="float-right" style="width:95%;">@l.Details</div>
   </div>
   }
  }
  @if (Model.HasLog) { @Include("Log", Model) }
</div>
}
@if (Model.HasChildren) 
{ 
  <div class="mt-4">@Include("RecurseNodes", Model)</div> 
}
