<!DOCTYPE html>
<html lang="en">
	@Include("LoggerHead")
	<body class="@Model.MasterConfig.GetValue("theme")">
		<div class="app" id="app">
			@Include("LoggerNav")
			<div id="content" class="app-content box-shadow-0" role="main">
				<div id="content" class="app-content box-shadow-2 box-radius-2" role="main">
					<div class="content-header white  box-shadow-2" id="content-header">
						<div class="navbar navbar-expand-lg">
							<a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
									<path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"/>
								</svg>
							</a>
							<div class="navbar-text nav-title flex" id="pageTitle">Dashboard</div>
							<ul class="nav nav-xs flex-row no-border pull-right">
								@Include("LoggerNavRight")
							</ul>
						</div>
					</div>
					@Include("CommonsDashboard")
				</div>
			</div>
		</div>
    @{
      var p="https://github.com/extent-framework/extent-github-cdn/tree/master/commons/js/";
    }
    <script src="@(p)dashboard.js"></script>
		@Include("CommonsInjectJs")
		@Include("CommonsDashboardScripts")
	</body>
</html>