@using AventStack.ExtentReports.ViewDefs

@if (Model.HasChildren)
{
	<div class="accordion">
		@foreach (var node in Model.NodeContext.All())
		{
			<div class="card">
				<div class="card-header" role="tab">
					<h5 class="card-title">
						<div class="node">@node.Name</div>
						<div class="status-avatar float-right @node.Status.ToString().ToLower()-bg">
							<i class="fa fa-@TWBSIcon.GetIcon(node.Status) text-white"></i>
                        </div>
					</h5>
				</div>
				<div class="collapse">
					<div class="card-body">
						@if (!string.IsNullOrEmpty(node.Description))
						{
							<div class="description">@node.Description</div>
						}
						@if (node.HasLog) 
						{
							@Include("Log", node)
						}
						@if (node.HasScreenCapture) { @foreach (var sc in node.ScreenCaptureContext.All()) { @sc.Source } }
					</div>
				</div>
				@if (node.HasChildren)
				{
					@Include("RecurseNodes", node)
				}
			</div>
		}
	</div>
}