@if (Model.HasLog)
{
<div class="detail-body mt-4">												
	@Include("Log", Model)
</div>    
}
@if (Model.HasScreenCapture)
{
<div class="detail-foot">
	<ul class="attachments">
		@foreach (var sc in Model.ScreenCaptureContext.All())
		{
		<li>
			<a href="@sc.ScreenCapturePath" data-featherlight="image">
				<div class="file-icon">
					<i class="fa fa-file-image-o"></i> 
				</div>
				<div class="file-info">
		            @if (sc.IsBase64)
					{
		                <span class="file-name">base64</span>
		                <span class="file-size">0Kb</span>
		            } else {
		                <span class="file-name">@sc.Name</span>
		                <span class="file-size"> @(sc.FileSize)Kb</span>
		            }
				</div>
			</a>
		</li>
		}
	</ul>
</div>
}
@if (Model.HasChildren)
{
<div class="mt-4">
	@Include("RecurseNodes", Model)
</div>
}